<div class="card-trip" [ngStyle]="{'background-color': (trip.max-trip.chosen) < 3 ? 'grey' : null}">
    <picture class="trip-picture">
      <img src="{{trip.photo}}">
    </picture>
    <h2 class="name">{{trip.name | uppercase }}</h2>
    <p class="country">{{trip.country | uppercase}}</p>
    <p class="cost">
      {{(trip.price * changeCurrencyService.money[changeCurrencyService.moneyNow].multiply).toFixed(2)}}
      {{changeCurrencyService.money[changeCurrencyService.moneyNow].sign}}</p>
    <p class="no-tickets" [hidden]="(trip.max-trip.chosen) > 0">Brak Biletów </p>
    <!--<div class ="dates"> OD: {{trip.startDate}}  DO: {{trip.endDate}}</div> -->
    <div class="desc">{{trip.description}}</div>
    <div class = "row-buttons">
      <p class="checked" [ngStyle]="{'background-color': trip.chosen >= 10? 'lime' : 'orangered'}">{{trip.chosen}}</p>
      <button class="trip-delete" (click)="deleteTrip()" >
        <img src ="https://cdn-icons-png.flaticon.com/512/860/860829.png">
      </button>
    </div>  
    <div class="stars-num">
      <span *ngFor="let elem of possibleRating">
        <img class="star-img"
             [src]="trip.currentStars >= elem ? '../../assets/img/star_minus.png' : '../../assets/img/star_plus.png'">
      </span>
    </div>
    <button class="edit" [routerLink]="['/edit/', trip.num]" routerLinkActive="active">
        Edycja
      </button>
  </div>

