<div class = "background">
    <div class = "container">
        <div class = "welcome">
            <h1>Witamy w biurze turystycznym!</h1>
        </div>
        
        <div class = "ad">
            <h3>Zapraszamy na niesamowite wycieczki</h3>
            <p> W naszym repertuarze każdy znajdzie coś dla siebie<br>
            Od przygód w górach przez poznawanie nowych kultur <br>
            aż do wczasów w ciepłych krajach</p>
            <p>Nasza siedziba zajduje się na w Krakowie<br>
                ul. Reymonta 123<br>
                Zapraszamy w godzinach 8-17 <br>
                od poniedziałku do piątku<br>
            </p>
        </div>
        <div class = "map">
            <iframe id="map-google" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40976.34172796625!2d19.935899954830354!3d50.06716165609228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1sen!2spl!4v1671363457084!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
